Purpose: Importing data(csv) and exploration

Date: July 18, 2019

Author: Lucy Njoki

In [1]:
import pandas as pd

import os

In [2]:
#cheking the working directory
os.getcwd()

'C:\\Users\\NYAGAH\\Downloads\\Documents'

In [4]:
#loading file using relative path
data = pd.read_csv("millionaire_data.csv")
print(data)

     Couple  Educ_Level  Salary  Cars  Home  Savings  SC_Index
0         1           4      90    19    83      289         3
1         2           2      95    35   134     1130         3
2         3           2      99    46   110      583         5
3         4           3     130    24    69     1049         7
4         5           4     126    42   153      612         7
5         6           2      73    35   127      650         2
6         7           3     111    34    98      675         7
7         8           4     140    53   191      347         9
8         9           2      52    33   119      420         2
9        10           2      99    50   147       39         6
10       11           4     101    40   132        5         3
11       12           3     134    50   208      553        10
12       13           2      62    36    91      659         1
13       14           3     139    45   258      648         8
14       15           4      84    21   221        5         4
15       16           2      46    28   124      630         1
16       17           4     104    40   184      698         2
17       18           1      54    21    50     1247         1
18       19           2      88    49   193      471         4
19       20           3     119    57   265       81        10
20       21           4     125    59   157        5         8
21       22           2      87    40   177      507         6
22       23           3      73    52   183        5         4
23       24           4     114    46   150       55         4
24       25           3     104    49   176      385         5
25       26           2     112    53   183      815         7
26       27           3     106    44   164      810         4
27       28           3     103    42   127      572         4
28       29           3     135    59   270      521        10
29       30           4      96    40    66      166         3
..      ...         ...     ...   ...   ...      ...       ...
244     245           4     115    50   161      108         8
245     246           1      70    39   139      844         4
246     247           2     111    36   111      554         4
247     248           4      98    36   178      227         6
248     249           3      80    33    56      320         4
249     250           1      25    18    50      823         1
250     251           4     105    40   148      672         4
251     252           2      86    39   178      444         5
252     253           4     114    37   154      311         6
253     254           3      90    21    50     1044         2
254     255           1      70    33    91     1049         2
255     256           4      81    25    76      439         2
256     257           3     130    52   144      575         6
257     258           4      91    40   136      302         2
258     259           3     130    59   213      365        10
259     260           3      83    30   121      529         2
260     261           3     138    55   214      102         9
261     262           4     138    40   144      437         6
262     263           4     132    43   169      197         9
263     264           1      69    21    73     1243         1
264     265           3      89    46   238      244         8
265     266           4      96    33   224      317         6
266     267           3      62    27   171      550         2
267     268           3     140    52   220      545        10
268     269           2      66    37   100      645         1
269     270           2     103    53   206      288         9
270     271           4     119    36   168      758         4
271     272           4     123    36   153      426         5
272     273           4     106    41   191        5         6
273     274           2      59    23    50     1205         1

[274 rows x 7 columns]

In [8]:
#loading data using absolute path
data = pd.read_csv("C:\\Users\\NYAGAH\\Downloads\\Documents\\millionaire_data.csv")
print(data)

     Couple  Educ_Level  Salary  Cars  Home  Savings  SC_Index
0         1           4      90    19    83      289         3
1         2           2      95    35   134     1130         3
2         3           2      99    46   110      583         5
3         4           3     130    24    69     1049         7
4         5           4     126    42   153      612         7
5         6           2      73    35   127      650         2
6         7           3     111    34    98      675         7
7         8           4     140    53   191      347         9
8         9           2      52    33   119      420         2
9        10           2      99    50   147       39         6
10       11           4     101    40   132        5         3
11       12           3     134    50   208      553        10
12       13           2      62    36    91      659         1
13       14           3     139    45   258      648         8
14       15           4      84    21   221        5         4
15       16           2      46    28   124      630         1
16       17           4     104    40   184      698         2
17       18           1      54    21    50     1247         1
18       19           2      88    49   193      471         4
19       20           3     119    57   265       81        10
20       21           4     125    59   157        5         8
21       22           2      87    40   177      507         6
22       23           3      73    52   183        5         4
23       24           4     114    46   150       55         4
24       25           3     104    49   176      385         5
25       26           2     112    53   183      815         7
26       27           3     106    44   164      810         4
27       28           3     103    42   127      572         4
28       29           3     135    59   270      521        10
29       30           4      96    40    66      166         3
..      ...         ...     ...   ...   ...      ...       ...
244     245           4     115    50   161      108         8
245     246           1      70    39   139      844         4
246     247           2     111    36   111      554         4
247     248           4      98    36   178      227         6
248     249           3      80    33    56      320         4
249     250           1      25    18    50      823         1
250     251           4     105    40   148      672         4
251     252           2      86    39   178      444         5
252     253           4     114    37   154      311         6
253     254           3      90    21    50     1044         2
254     255           1      70    33    91     1049         2
255     256           4      81    25    76      439         2
256     257           3     130    52   144      575         6
257     258           4      91    40   136      302         2
258     259           3     130    59   213      365        10
259     260           3      83    30   121      529         2
260     261           3     138    55   214      102         9
261     262           4     138    40   144      437         6
262     263           4     132    43   169      197         9
263     264           1      69    21    73     1243         1
264     265           3      89    46   238      244         8
265     266           4      96    33   224      317         6
266     267           3      62    27   171      550         2
267     268           3     140    52   220      545        10
268     269           2      66    37   100      645         1
269     270           2     103    53   206      288         9
270     271           4     119    36   168      758         4
271     272           4     123    36   153      426         5
272     273           4     106    41   191        5         6
273     274           2      59    23    50     1205         1

[274 rows x 7 columns]

In [9]:
#checking the first  five rows of data
data.head()

   Couple  Educ_Level  Salary  Cars  Home  Savings  SC_Index
0       1           4      90    19    83      289         3
1       2           2      95    35   134     1130         3
2       3           2      99    46   110      583         5
3       4           3     130    24    69     1049         7
4       5           4     126    42   153      612         7

In [10]:
#checking the last five rows of data
data.tail()

     Couple  Educ_Level  Salary  Cars  Home  Savings  SC_Index
269     270           2     103    53   206      288         9
270     271           4     119    36   168      758         4
271     272           4     123    36   153      426         5
272     273           4     106    41   191        5         6
273     274           2      59    23    50     1205         1

In [11]:
#column names
data.dtypes

Couple        int64
Educ_Level    int64
Salary        int64
Cars          int64
Home          int64
Savings       int64
SC_Index      int64
dtype: object

In [16]:
#selecting columns
print(data[["Educ_Level"]])
print(data[["Educ_Level", "Savings"]])

     Educ_Level
0             4
1             2
2             2
3             3
4             4
5             2
6             3
7             4
8             2
9             2
10            4
11            3
12            2
13            3
14            4
15            2
16            4
17            1
18            2
19            3
20            4
21            2
22            3
23            4
24            3
25            2
26            3
27            3
28            3
29            4
..          ...
244           4
245           1
246           2
247           4
248           3
249           1
250           4
251           2
252           4
253           3
254           1
255           4
256           3
257           4
258           3
259           3
260           3
261           4
262           4
263           1
264           3
265           4
266           3
267           3
268           2
269           2
270           4
271           4
272           4
273           2

[274 rows x 1 columns]
     Educ_Level  Savings
0             4      289
1             2     1130
2             2      583
3             3     1049
4             4      612
5             2      650
6             3      675
7             4      347
8             2      420
9             2       39
10            4        5
11            3      553
12            2      659
13            3      648
14            4        5
15            2      630
16            4      698
17            1     1247
18            2      471
19            3       81
20            4        5
21            2      507
22            3        5
23            4       55
24            3      385
25            2      815
26            3      810
27            3      572
28            3      521
29            4      166
..          ...      ...
244           4      108
245           1      844
246           2      554
247           4      227
248           3      320
249           1      823
250           4      672
251           2      444
252           4      311
253           3     1044
254           1     1049
255           4      439
256           3      575
257           4      302
258           3      365
259           3      529
260           3      102
261           4      437
262           4      197
263           1     1243
264           3      244
265           4      317
266           3      550
267           3      545
268           2      645
269           2      288
270           4      758
271           4      426
272           4        5
273           2     1205

[274 rows x 2 columns]

In [17]:
#checking for missing values
data[data.isnull().any(axis = 1)]

Empty DataFrame
Columns: [Couple, Educ_Level, Salary, Cars, Home, Savings, SC_Index]
Index: []

In [28]:
#converting education level to factors
Educ_Level = pd.Categorical([1, 2, 3, 4], categories = [1, 2, 3, 4])
Educ_Level

[1, 2, 3, 4]
Categories (4, int64): [1, 2, 3, 4]

In [29]:
#checking data type
type(Educ_Level)

pandas.core.arrays.categorical.Categorical

In [34]:
#converting education level to factors
SC_Index = pd.Categorical([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], categories = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
SC_Index

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Categories (10, int64): [1, 2, 3, 4, ..., 7, 8, 9, 10]

In [32]:
type(SC_Index)

pandas.core.arrays.categorical.Categorical

In [33]:
data.dtypes

Couple        int64
Educ_Level    int64
Salary        int64
Cars          int64
Home          int64
Savings       int64
SC_Index      int64
dtype: object

**Descriptive Statistics**

Summarizes data.

>Measures of centrfal tendency: *mean, mode and median*

>Measures of dispersion: *standard deviation*

In [54]:
import numpy as np

In [55]:
#mean
np.mean(data[["Couple"]])

Couple    137.5
dtype: float64

In [56]:
np.mean(data[["Salary"]])

Salary    98.120438
dtype: float64

In [57]:
np.mean(data[["Cars"]])

Cars    40.193431
dtype: float64

In [58]:
np.mean(data[["Savings"]])

Savings    528.970803
dtype: float64

In [59]:
#median
np.median(data[["Couple"]])

137.5

In [60]:
np.median(data[["Salary"]])

99.0

In [61]:
np.median(data[["Cars"]])

40.0

In [62]:
np.median(data[["Savings"]])

531.5

In [63]:
#count
data.count()

Couple        274
Educ_Level    274
Salary        274
Cars          274
Home          274
Savings       274
SC_Index      274
dtype: int64

In [64]:
#stanard deviation
np.std(data[["Savings"]])

Savings    297.547676
dtype: float64

In [65]:
np.std(data[["Cars"]])

Cars    10.23568
dtype: float64

In [66]:
np.std(data[["Salary"]])

Salary    24.902806
dtype: float64